@model MatrixChecker.Viewmodels.Viewmodel
@{
    ViewData["Title"] = "Addmatrix";
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h2>Your Matrix:</h2>
    <p>@Model.Message</p>
</body>
</html>

